# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.am
*.in
*.msc
*Makefile
*.m4
testing/
*.mk
*\.libs
*.swp
*.sh
*.pyc
*.status
*.log
*.ac
*.lst
*.pc
libtool
configure
clients/examples/
buildtools/conf/
testenv/string-generator/generate_input
testenv/test
testenv/test_hs
autom4te.cache/
monetdb_config.h
confdefs.*
conftest.*
